body {
  overflow: auto;
}

.read-more {
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  -webkit-transition: all .7s ease-in;
  transition: all .7s ease-in;
}

.read-more:hover {
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  -webkit-transition: all .7s ease-in;
  transition: all .7s ease-in;
}

.my_white {
  font-family: 'Fira Mono', monospace;
  color: #fff;
}

#my_header .my_h1 {
  font-family: 'Fira Mono', monospace;
  font-size: 2.4em;
  font-weight: 500;
  text-align: left;
}

#my_header .my_h1 .my_indent {
  padding: 0 0 0 10%;
}

#my_header .my_h1 .my_indent2 {
  padding: 0 0 0 20%;
}

#my_header .my_h1 .my_white {
  color: #fff;
}

@media (max-width: 400px) {
  #my_header {
    padding: 0 0 0 5%;
    margin: 175px auto;
    width: 100%;
  }
  #my_header .my_h1 {
    font-size: .8em;
    margin: 20px 0;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  #my_header {
    padding: 0 0 0 0%;
    margin: 175px auto;
    width: 80%;
  }
  #my_header .my_h1 {
    font-size: .9em;
    margin: 20px 0;
  }
}

@media (min-width: 601px) and (max-width: 655px) {
  #my_header {
    margin: 175px auto;
    padding: 0 0 0 2%;
  }
  #my_header .my_h1 {
    font-size: 1.2em;
    margin: 20px 0;
  }
  #my_header .my_h1 .my_indent {
    padding: 0 0 0 5%;
  }
  #my_header .my_h1 .my_indent2 {
    padding: 0 0 0 10%;
  }
}

@media (min-width: 656px) and (max-width: 882px) {
  #my_header .my_h1 {
    font-size: 1.3em;
    margin: 20px 0;
  }
  #my_header .my_h1 .my_indent {
    padding: 0 0 0 5%;
  }
  #my_header .my_h1 .my_indent2 {
    padding: 0 0 0 10%;
  }
}

@media (min-width: 883px) and (max-width: 1553px) {
  #my_header .my_h1 {
    font-size: 1.7em;
    margin: 25px 0;
    padding: 0 0 0 10%;
  }
  #my_header .my_h1 .my_indent {
    padding: 0 0 0 5%;
  }
  #my_header .my_h1 .my_indent2 {
    padding: 0 0 0 10%;
  }
}

.tech_section {
  height: 800px;
}

h3.tech {
  text-align: center;
}

.col.s12.m8.offset-m2.valign {
  margin: 0 auto;
}

#fave_tech {
  position: relative;
  font-size: 5em;
  height: 100vh;
  margin: -75px auto;
}

#fave_tech .container {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

#fave_tech .row {
  margin: 0 auto;
  min-width: 470px;
  max-width: 470px;
}

#fave_tech .row .tech-column {
  width: 25%;
  transform: rotateZ(-45deg);
  margin: 0;
}

#fave_tech .row .tech-column i {
  -webkit-transform: scale(2);
  transform: scale(2);
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

#fave_tech .row .tech-column i.icon:hover {
  font-size: calc(1em * 1.1);
  color: #fff;
  -webkit-transition: all .7s ease-out;
  transition: all .7s ease-out;
}

#fave_tech .row .tech-column .smaller {
  font-size: .7em;
}

#fave-tech:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.col.s12.valign.next_button.further_down {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -800px;
}

@media (min-width: 852px) and (max-width: 1190px) {
  h3.tech {
    font-size: 2em;
  }
  #fave_tech {
    top: 0px;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  div.col.s12.valign.further_down {
    left: 0;
    right: -1vw;
  }
}

@media (min-width: 800px) and (max-width: 851px) {
  h3.tech {
    font-size: 1.6em;
  }
  #fave_tech {
    -webkit-transform: scale(1);
    transform: scale(1);
    margin: -50px auto 0 auto;
  }
  #fave_tech .container {
    width: 100%;
  }
}

@media (min-width: 700px) and (max-width: 799px) {
  h3.tech {
    font-size: 1.6em;
  }
  #fave_tech {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    margin: -200px auto 0 -5%;
  }
  #fave_tech .container {
    top: 250px;
    width: 100%;
  }
}

@media (min-width: 461px) and (max-width: 699px) {
  h3.tech {
    font-size: 1.6em;
  }
  #fave_tech {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    height: 400px;
  }
  #fave_tech .container {
    top: 250px;
    width: 100%;
  }
}

@media (max-width: 460px) {
  .tech_section {
    height: 500px;
  }
  h3.tech {
    font-size: 1.6em;
  }
  #fave_tech {
    display: block;
    height: 300px;
    margin: 0 auto;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    margin: -200px auto 0 -10%;
  }
  #fave_tech .container {
    width: 100%;
    top: 225px;
    right: -10vw;
    left: 0;
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
  #fave_tech .container .row .tech-column {
    -webkit-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
  }
}

#about {
  height: 600px;
}

#about .my_white {
  font-size: 2.5em;
}

#about p {
  text-align: center;
  font-size: 1.3em;
  letter-spacing: .05em;
  line-height: 1.8em;
}

.material-icons {
  font-size: 1.2em;
}

img {
  width: 19%;
  min-width: 80px;
  padding: 50px 6%;
}

.wrap_text {
  width: 70%;
  margin: 0 auto;
}

@media (min-width: 501px) and (max-width: 787px) {
  #about {
    clear: both;
  }
  #about .my_white {
    font-size: 1.5em;
  }
  .hide_on_mobile {
    display: none;
  }
}

@media (max-width: 500px) {
  #about {
    margin: 175px auto;
  }
  #about .my_white.section-title {
    font-size: 1.6em;
  }
  #about p {
    text-align: left;
  }
  #about .wrap_text {
    width: 100%;
  }
}

hr {
  width: 20%;
}

.laptop-preview-sizer,
.phone-preview-sizer,
.tablet-preview-sizer {
  margin: 75px auto;
}

.laptop-preview-sizer {
  width: 90%;
  max-width: 900px;
}

.phone-preview-sizer {
  width: 90%;
  max-width: 300px;
}

.tablet-preview-sizer {
  width: 90%;
  max-width: 600px;
}

.tablet-preview-sizer .my_image_container.image-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.my_image_container.image-container {
  background-size: cover;
  background-position: top right;
}

.buttons {
  margin: -50px auto 25px auto;
}

button#next, button#last {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  border-radius: 100%;
  border: 3px solid #000;
  max-width: 50px;
  min-width: 50px;
}

button#next i, button#last i {
  display: block;
  margin: 0 0 0 -11px;
  font-size: 3em;
  color: #1de9c3;
}

button#next:hover, button#last:hover {
  background: transparent;
  border: 3px solid #1de9c3;
  transition: all 1s;
}

button#next:active, button#next:focus,
button#last:active, button#last:focus {
  outline: none;
}

.app_heading {
  padding: 0 3% 0 0;
}

.app_heading .app_title {
  text-align: right;
  color: #1de9c3;
  text-transform: uppercase;
  font-size: 2.35em;
  font-weight: 700;
  letter-spacing: .05em;
  margin: 5px 0;
}

.app_heading .app_subheading {
  color: #fff;
  text-align: right;
  margin: 5px 0;
  font-size: 1.5em;
  letter-spacing: .1em;
}

.app_heading .technologies {
  color: #1de9c3;
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 15px;
}

.app_description {
  border-left: 1px solid #fff;
  margin: 0 0 100px 0;
}

.app_description p {
  margin: 0;
  font-size: 1.2em;
  letter-spacing: .05em;
  line-height: 1.8em;
}

@media (max-width: 600px) {
  div.header-wrapper.row.valign-wrapper {
    margin: 0;
  }
  #portfolio {
    margin: 175px auto;
  }
  #portfolio div.row.heading-row {
    height: 200px;
  }
  .app_description {
    border-left: none;
    margin: 0 0 25px 0;
  }
  .app_heading .app_title {
    text-align: left;
  }
  .app_heading .app_subheading {
    text-align: left;
  }
  .mobile_container {
    width: 80%;
    margin: 25px auto;
  }
  .buttons div.col.s2.m1 {
    padding: 0;
  }
}

#contact {
  min-height: 100vh;
}

#contact .section-title {
  font-family: 'Fira Mono', monospace;
  text-align: center;
}

#contact textarea#message {
  font-size: 1.5em;
  color: #1de9c3;
}

#contact a.contact {
  color: #1de9c3;
}

#contact a.contact button {
  position: relative;
  background: #000;
  border: 3px solid #1de9c3;
  border-radius: 4px;
  padding: 15px 15px 15px 45px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .1em;
}

#contact a.contact:hover {
  color: #000;
}

#contact a.contact:hover button {
  background: #1de9c3;
}

#contact a.contact:hover button i {
  color: #000;
}

#contact i.not_buttons {
  font-size: 3em;
  display: block;
  margin: 0 auto;
  width: 25px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#contact i.not_buttons:hover {
  color: #fff;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}

@media (max-width: 600px) {
  .section-title {
    font-size: 1.6em;
  }
}
