body {
	overflow: auto;
}

.read-more {
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
	-webkit-transition: all .7s ease-in;
	transition: all .7s ease-in;
}

.read-more:hover {
	-webkit-transform: translateY(15px);
	transform: translateY(15px);
	-webkit-transition: all .7s ease-in;
	transition: all .7s ease-in;
}

.nav {
	position: fixed;
	z-index: 10;
	height: 100px;
	width: 100%;
	font-size: 1.8em;
	div {
		padding: 0;
	}
	.mailto_container {
		padding: 7px 0 0 .5%;
	  i {
	  	font-size: 1.2em;
	  }
	}
}

.my_white {
		font-family: 'Fira Mono', monospace;
		color: #fff;
	}

// Greeting Component

#my_header .my_h1 {
	font-family: 'Fira Mono', monospace;
	font-size: 2.4em;
	font-weight: 500;
	text-align: left;
	
	.my_indent {
		padding: 0 0 0 10%;
	}

	.my_indent2 {
		padding: 0 0 0 20%;
	}

	.my_white {
		color: #fff;
	}
}

@media(max-width: 400px) {
	#my_header {
		min-height: 100vh;
		padding: 0 0 0 5%;
		margin: 175px auto;
		width: 100%;
		min-height: 100vh;
		.my_h1 {
			font-size: .8em;
			margin: 20px 0;
		}
	}
}

@media(min-width: 401px) and (max-width: 600px) {
	#my_header {
		padding: 0 0 0 0%;
		margin: 175px auto;
		width: 80%;
		min-height: 100vh;
		.my_h1 {
			font-size: .9em;
			margin: 20px 0;
		}
	}
}

@media(min-width: 601px) and (max-width: 655px) {
	#my_header {
		margin: 175px auto;
		padding: 0 0 0 2%;
	}
	#my_header .my_h1 {
		font-size: 1.2em;
		margin: 20px 0;

		.my_indent {
			padding: 0 0 0 5%;
		}

		.my_indent2 {
			padding: 0 0 0 10%;
		}
	}
}

@media(min-width: 656px) and (max-width: 882px) {
	#my_header {
		margin: 175px auto;
	}
	#my_header .my_h1 {
		font-size: 1.35em;
		margin: 20px 0;

		.my_indent {
			padding: 0 0 0 5%;
		}

		.my_indent2 {
			padding: 0 0 0 10%;
		}
	}
}

@media(min-width: 883px) and (max-width: 1300px) {
	#my_header .my_h1 {
		font-size: 1.65em;
		margin: 25px 0;
		padding: 0 0 0 10%;

		.my_indent {
			padding: 0 0 0 5%;
		}

		.my_indent2 {
			padding: 0 0 0 10%;
		}
	}
}

// END GREETING COMPONENT

//Favorite Tech Component

.tech_section {
	 height: 800px;
}
h3.tech {
	text-align: center;
}

.col.s12.m8.offset-m2.valign {
	margin: 0 auto;
}

#fave_tech {
	position: relative;
	font-size: 5em;
	height: 100vh; 
	margin: -75px auto; 
	
	.container {
		position: absolute;
		top: 250px;
		left: 0;
		right: 0; 
		-webkit-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}

	.row {
		margin: 0 auto;
		min-width: 470px;
		max-width: 470px;

		.tech-column {
			width: 25%;
			transform: rotateZ(-45deg);
			margin: 0;
		
			i {
				-webkit-transform: scale(2);
	    	transform: scale(2);
	    	-webkit-transform: rotateZ(-45deg);
	    	transform: rotateZ(-45deg);
	    	-webkit-transition: all .5s ease-in;
	    	transition: all .5s ease-in;	
	    }
 			i.icon:hover {
	    	font-size: calc(1em * 1.1);
	    	color: #fff;
	    	-webkit-transition: all .7s ease-out;	
	    	transition: all .7s ease-out;
	    }
	    
	    .smaller {
	    	font-size: .7em;
	    }
		}
	}
}

#fave-tech:after {
	content: "";
  display: block;
  padding-bottom: 100%;
}

.col.s12.valign.next_button.further_down {
	position: absolute;
	right: 0;
	left: 0;
	bottom: -800px;
}

@media(min-width: 852px) and (max-width: 1190px) {
	h3.tech {
		font-size: 2em;
	}
	#fave_tech {
		top: 0px;
		-webkit-transform: scale(.9);
		transform: scale(.9);
	}
	div.col.s12.valign.further_down {
		left: 0;
		right: -1vw;
	}
}

@media(min-width: 800px) and (max-width: 851px) {
	h3.tech {
		font-size: 1.6em;
	}
	#fave_tech {
		-webkit-transform: scale(1);
		transform: scale(1);
		margin: -50px auto 0 auto;
		.container {
			width: 100%;
		}
	}
}

@media(min-width: 700px) and (max-width: 799px) {
	h3.tech {
		font-size: 1.6em;
	}
	#fave_tech {
		-webkit-transform: scale(.95);
		transform: scale(.95);
		margin: -200px auto 0 -5%;
		.container {
			top: 250px;
			width: 100%;
		}
	}
}

@media(min-width: 461px) and (max-width: 699px) {
	h3.tech {
		font-size: 1.6em;
	}
	#fave_tech {
		-webkit-transform: scale(.85);
		transform: scale(.85);
		
		height: 400px;
		.container {
			top: 250px;
			width: 100%;
		}
	}

}

@media(max-width: 460px) {
	.tech_section {
		height: 500px;
	}
	h3.tech {
		font-size: 1.6em;
	}
	#fave_tech {
		display: block;
		height: 300px;
		margin: 0 auto;
		-webkit-transform: scale(.75);
		transform: scale(.75);
		margin: -200px auto 0 -10%;
		.container {
			width: 100%;
			top: 225px;
			right: -10vw;
			left: 0;
			-webkit-transform: rotateZ(90deg);
			transform: rotateZ(90deg);
			.row .tech-column {
				-webkit-transform: rotateZ(-90deg);
				transform: rotateZ(-90deg);
			}
		}
	}
}

//End Favorite Tech Component

//About Component

#about {
	height: 600px;
	.my_white {
		font-size: 2.5em;
	}
	p {
		text-align: center;
		font-size: 1.3em;
		letter-spacing: .05em;
		line-height: 1.8em;
	}
}

.material-icons {
	font-size: 1.2em;
}

img {
	width: 19%;
	min-width: 80px;
	padding: 50px 6%; 
}

.wrap_text {
	width: 70%;
	margin: 0 auto;
}

@media(min-width: 501px) and (max-width: 787px) {
	#about {
		clear: both;
	}
	#about .my_white {
		font-size: 1.5em;
	}
	.hide_on_mobile {
		display: none;
	}
}

@media(max-width: 500px) {
	#about {
		margin: 175px auto;
		.my_white.section-title {
			font-size: 1.6em;
		}
		p {
			text-align: left;
		}
		.wrap_text {
			width: 100%;
		}
	}
}


//END About Component

//PORTFOLIO Component

hr {
	width: 20%;
}

.laptop-preview-sizer, 
.phone-preview-sizer, 
.tablet-preview-sizer {
	margin: 75px auto;
}

.laptop-preview-sizer {
	width: 90%;
	max-width: 900px;
}

.phone-preview-sizer {
	width: 90%;
	max-width: 300px;
}

.tablet-preview-sizer {
	width: 90%;
	max-width: 600px;
	.my_image_container.image-container {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
	}
}

.my_image_container.image-container {
	background-size: cover;
	background-position: top right;
}

.buttons {
	margin: -50px auto 25px auto;
}

button.next, button.last {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	border-radius: 100%;
	border: 3px solid #000; //change this to black
	max-width: 50px;
	min-width: 50px;
	i {
		display: block;
		margin: 0 0 0 -11px;
		font-size: 3em;
		color: #1de9c3;
	}
}

button.next:hover, button.last:hover {
	background: transparent;
	border: 3px solid #1de9c3;
	transition: all 1s;
}

button.next:active, button.next:focus,
button.last:active, button.last:focus {
	outline: none;
}

.app_heading {	
		padding: 0 3% 0 0;

	.app_title {
		text-align: right;
		color: #1de9c3;
		text-transform: uppercase;
		font-size: 2.35em;
		font-weight: 700;
		letter-spacing: .05em;
		margin: 5px 0;
	}

	.app_subheading {
		color: #fff;
		text-align: right;
		margin: 5px 0;
		font-size: 1.5em;
		letter-spacing: .1em;
	}

	.technologies {
		color: #1de9c3;
		font-weight: 500;
		font-size: 1.2em;
		margin-top: 15px;
	}
}

.app_description {
	border-left: 1px solid #fff;
	margin: 0 0 100px 0;
	p {
		margin: 0;
		font-size: 1.2em;
		letter-spacing: .05em;
		line-height: 1.8em;
	}
}

@media(max-width: 600px) {
	div.header-wrapper.row.valign-wrapper {
		margin: 0;
	}
	#portfolio {
		margin: 175px auto;
		div.row.heading-row {
			height: 200px;
		}
	}
	.app_description {
		border-left: none;
		margin: 0 0 25px 0;
	}
	.app_heading {
			.app_title {
				text-align: left;
			}
			.app_subheading {
				text-align: left;
			}
	}
	.mobile_container {
			width: 80%;
			margin: 25px auto;
	}
	.buttons {
		div.col.s2.m1 {
			padding: 0;
		}
	}
}

//End Portfolio Component

//Contact Component

#contact {
	min-height: 100vh;
	.section-title {
		font-family: 'Fira Mono', monospace;
		text-align: center;
	}
	a.contact {
		text-align: center;
		color: #1de9c3;
	}
	a.contact:hover {
		color: #000;
		button {
			background: #1de9c3;
			i {
				color: #000;
			}
		}
	}
	i.not_buttons {
		display: block;
		font-size: 3em;
		margin: 0 auto;
		width: 25px;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: all .5s ease;
		transition: all .5s ease;
	}
	i.not_buttons:hover {
		color: #fff;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
		-webkit-transition: all .7s ease;
		transition: all .7s ease;
	}
}

@media(max-width: 600px) {
	.section-title {
		font-size: 1.6em;
	}
}